.root {
  width: min(1540px, calc(100% - var(--g-spacing-8)));
  margin: 0 auto;
  padding: var(--g-spacing-8) 0 var(--g-spacing-10);
}

.header {
  margin-bottom: var(--g-spacing-7);
  display: flex;
  justify-content: space-between;
  gap: var(--g-spacing-4);
  align-items: center;
}

.actions {
  display: flex;
  gap: var(--g-spacing-2);
}

.description {
  margin: var(--g-spacing-2) 0 0;
}

.sections {
  display: grid;
  gap: var(--g-spacing-7);
}

@media (width <= 680px) {
  .root {
    width: calc(100% - var(--g-spacing-4));
    padding-top: var(--g-spacing-5);
  }

  .header,
  .actions {
    align-items: stretch;
    flex-direction: column;
  }
}
